# Compiled files
*.exe
*.obj
*.pdb
*.ilk

# Visual Studio files
.vs/

# VS Code settings
.vscode/

# Debug and build folders
Debug/
Release/
x64/
x86/

# Temporary files
*.tmp
*.log

# MySQL Connector files
mysql-connector*
*.lib
*.dll

# System files
.DS_Store
Thumbs.db